<div><h1>{{movie.title}} </h1></div>

Year: {{movie.year}}<br />
<div class="container">
  <app-actors [movieId]="movieId"></app-actors>
    <!-- <br>
    <h2>Actors</h2>
<table class="table table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Awards</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let actor of movie.actors; let i=index">
            <td>{{i+1}}</td>
            <td>{{actor.name}}</td>
            <td>{{actor.awards}}</td>
            <td>
              <a class="pointer-link" (click)="editMovie(movie._id, actor._id)">Edit</a> |
              <a (click)="onDelete(movie._id, actor._id)" class="pointer-link">Delete</a>
            </td>
        </tr>
    </tbody>
</table> -->

</div>
